<?xml version="1.0" encoding="UTF-8"?>
<!--
    (¯`·._.·(¯`·._.· Vanilla Theme Manifest  ·._.·´¯)·._.·´¯)
    Base configuration for Vanilla Theme.
    The content of this file is imported into DB when you install the template.
-->
<config>
    <!-- Those metadata are displayed in the theme configuration page.  -->
    <metadata>
        <name>extends_vanilla</name>
        <title>Bootstrap Vanilla</title>
        <type>theme</type>
        <creationDate/>
        <author>admin</author>
        <authorEmail>alexander.max.bauer@googlemail.com</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>Copyright (C) 2005 - 2019 LimeSurvey Gmbh, Inc. All rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>3.0</version>
        <apiVersion>3</apiVersion>
        <description><![CDATA[<strong>LimeSurvey Bootstrap Vanilla Survey Theme</strong><br>A clean and simple base that can be used by developers to create their own Bootstrap based theme.]]></description>
        <lastUpdate>2020-04-15 13:03:22</lastUpdate>
    <extends>vanilla</extends></metadata>

    <!--
        Here the list of the css/js files to add to the template package.
        About packages in Yii: http://www.yiiframework.com/doc/api/1.1/CClientScript#packages-detail
        NOTE: The "add" tag also count as a "replace" tag.
              Eg: You can't just "add" a file in the extended theme with the same name as a file here. It will always "replace" it. You must use a diffrent file name.
              Eg: Vanilla manifest already has "<add>css/theme.css</add>". So if you use "<add>css/theme.css</add>" in an extended theme, it will replace the vanilla css/theme.css
        NOTE: If an extended theme, if you don't change a file that is defined here, you don't need to add it again.
              Eg: css/ajaxify.css is already added in vanilla. Nor fruity nor bootswatch modify it, so ne need to add / replace it in fruity or bootswatch.
                  Even if no mention at all about  "css/ajaxify.css" is theme extending vanilla, it will still be added because it's added here
        NOTE: To easy test changes in config file, you can force the use of the XML file rather than DB. To do so, turn debug mode on, and in config.php config array, on bottom of debug mode, add:
              'force_xmlsettings_for_survey_rendering' => true,
              Then, you will not need anymore to reset your theme each time you change the config file.
              But, once turning the setting off, You will still must reset the theme to the changes are pushed to DB
    -->
    <files>
        <css>
            <add>css/base.css</add>
            <add>css/theme.css</add>
            <add>css/noTablesOnMobile.css</add>
            <add>css/custom.css</add>
        </css>
        <js>
            <add>scripts/theme.js</add>
            <add>scripts/custom.js</add>
        </js>
        <print_css>
            <add>css/print_theme.css</add>
        </print_css>
    </files>

    <!-- You can add here any option you want. It will be available in twig file via aSurveyInfo.options.youroptionname -->
    <options>
        <!-- simple options -->
        <animatebody type="buttons" category="Simple options" width="4" title="Animate body" options="on|off" optionlabels="Yes|No">off</animatebody>
        <hideprivacyinfo type="buttons" category="Simple options" width="4" title="Hide privacy info" options="on|off" optionlabels="Yes|No">off</hideprivacyinfo>
        <container type="buttons" category="Simple options" width="4" title="Survey container" options="on|off" optionlabels="Yes|No">on</container>
        <showpopups type="buttons" category="Simple options" width="4" title="Show popups" options="1|0|-1" optionlabels="Popup|On page|No">1</showpopups>
        <showclearall type="buttons" category="Simple options" width="4" title="Show Clear All button" options="on|off" optionlabels="Yes|No">off</showclearall>
        <questionhelptextposition type="buttons" category="Simple options" width="4" title="Question help text position" options="top|bottom" optionlabels="Top|Bottom">top</questionhelptextposition>
        <fixnumauto type="buttons" category="Simple options" width="4" title="Fix automatically numeric value" options="enable|partial|disable" optionlabels="Yes|For expression|No">off</fixnumauto>
        <!-- images -->
        <brandlogo type="buttons" category="Images" width="4" title="Logo" options="on|off" optionlabels="Yes|No">on</brandlogo>
        <brandlogofile type="dropdown" category="Images" width="6" title="Logo file" parent="brandlogo">themes/survey/vanilla/files/logo.png</brandlogofile>
        <!-- fonts -->
        <font type="dropdown" category="Fonts" width="12" title="Fonts" parent="font">noto
            <dropdownoptions>
                <optgroup label="User browser">
                <option class="font-georgia         " value="georgia" data-font-package="websafe">Georgia</option>
                <option class="font-palatino        " value="palatino" data-font-package="websafe">Palatino Linotype</option>
                <option class="font-times_new_roman " value="times_new_roman" data-font-package="websafe">Times New Roman</option>
                <option class="font-arial           " value="arial" data-font-package="websafe">Arial</option>
                <option class="font-arial_black     " value="arial_black" data-font-package="websafe">Arial Black</option>
                <option class="font-comic_sans      " value="comic_sans" data-font-package="websafe">Comic Sans</option>
                <option class="font-impact          " value="impact" data-font-package="websafe">Impact</option>
                <option class="font-lucida_sans     " value="lucida_sans" data-font-package="websafe">Lucida Sans</option>
                <option class="font-trebuchet       " value="trebuchet" data-font-package="websafe">Trebuchet</option>
                <option class="font-courier         " value="courier" data-font-package="websafe">Courier New</option>
                <option class="font-lucida_console  " value="lucida_console" data-font-package="websafe">Lucida Console</option>
            </optgroup>
            </dropdownoptions>
       </font>
    </options>

    <!-- Here datas about how LimeSurvey should load the theme -->
    

    <!-- Disable the updater system for core themes. -->
    <updaters disabled="disabled">
    </updaters>
</config>
